.bg
  img.me(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t31.0-8/p960x960/15167688_1623758177918644_6225633797884767036_o.png?oh=9083c9d7eacbbd63fa28634a9e232933&oe=58D7381A" title="source: imgur.com")
.circleA
a.carte(href="https://www.facebook.com/steward.tsou" target="_blank")
  h4.title 設計造橋人
  h2.name 鄒柏軒
    span.name_eng (Steward Tsou)
  h5.work 中英翻譯 視覺設計 活動行銷
  h5 steward379@gmail.com 
  h5 0935 230 006
  p.text 欲成為「跨文化整合人」，以設計、翻譯、行銷、數位開發為載體，希望以使人們深度交流、生活遊戲化為目標。
  .circle.circle1
  .clrcle.circle2
  .circle.circle3
.footbar
  h6 originated from 墨雨設計 |  designed by 縮小檢視
  